# ===================== 日志配置 =====================
# 控制台日志：True=开启/False=关闭，级别可选(DEBUG/INFO/WARNING/ERROR/CRITICAL)
LOG_CONSOLE_ENABLE=True
LOG_CONSOLE_LEVEL=INFO

# 文件日志：True=开启/False=关闭，级别与控制台可独立设置
LOG_FILE_ENABLE=True
LOG_FILE_LEVEL=INFO
# 日志文件保留天数（自动删除过期日志，避免磁盘占满）
LOG_FILE_RETENTION=7 days

# ===================== MinerU配置 =====================
# api_token申请地址：https://mineru.net
MINERU_API_TOKEN=your_mineru_api_token_here
MINERU_BASE_URL=https://mineru.net/api/v4


# ===================== 大模型配置 =====================
# api_key申请地址：https://bailian.console.aliyun.com/cn-beijing/?tab=model#/api-key
# 大模型的文档地址：https://bailian.console.aliyun.com/cn-beijing/?tab=doc#/doc
LLM_DEFAULT_MODEL=glm-5

#Qwen3系列小尺寸视觉理解模型
VL_MODEL=qwen3-vl-flash-2026-01-22
OPENAI_API_KEY=sk-your_api_key_here
OPENAI_API_BASE=https://dashscope.aliyuncs.com/compatible-mode/v1
LLM_DEFAULT_TEMPERATURE=0.1

# ===================== MongoDB 配置 =====================
MONGO_URL=mongodb://localhost:27017
MONGO_DB_NAME=kb002


# ===================== MinIO客户端配置 =====================
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=your_minio_access_key
MINIO_SECRET_KEY=your_minio_secret_key
MINIO_BUCKET_NAME=knowledge-base-files
MINIO_IMG_DIR=/upload-images
MINIO_SECURE=False

# ===================== Embedding配置 =====================
BGE_M3_PATH=D:\ai_models\modelscope_cache\BAAI\bge-m3
BGE_M3=BAAI/bge-m3
BGE_DEVICE=cpu
BGE_FP16=0


# ===================== Milvus 配置 =====================
MILVUS_URL=http://127.0.0.1:19530
CHUNKS_COLLECTION=kb_chunks
ENTITY_NAME_COLLECTION=kb_graph_entity_names
ITEM_NAME_COLLECTION=kb_item_names

# ===================== DashScope 配置 =====================
DASHSCOPE_API_KEY=sk-your_dashscope_api_key_here
MCP_DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/api/v1/mcps/WebSearch/mcp


# ===================== 重排序模型配置 =====================
BGE_RERANKER_LARGE=D:\ai_models\modelscope_cache\models\rerank\BAAI\bge-reranker-large
BGE_RERANKER_DEVICE=cpu
BGE_RERANKER_FP16=0

# ===================== LangChain配置 =====================
LANGSMITH_API_KEY=lsv2_your_langsmith_api_key_here
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_TRACING=true
LANGCHAIN_CALLBACKS_BACKGROUND=false
LANGSMITH_PROJECT=zhiku